#accordion section, #accordion .pointer, #accordion h1, #accordion p {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#accordion {
        width: 600;
  margin-bottom:30px;
}
#accordion h1 {
  line-height:1.2;
  font-size:20px;
 
  margin:0;
  padding: 10px 10px 10px 30px;
      border: 1px solid #c5c5c5;
    background: #f6f6f6;
    
    color: #454545;
}

#accordion h1 a {
  color:black;
}
#accordion section {
  overflow:hidden;
  height:220px;
  border:1px #333 solid;
}
#accordion p {
  padding:0 10px;
  color:black;
}
#accordion section.ac_hidden p:not(.pointer) {
  color:#fff;
}

#accordion section.ac_hidden {
    
  height:44px;
}
#accordion .pointer {
  padding:0;
  margin:10px 0 0 6px;
  line-height:20px;
  width:13px;
  position:absolute;
}
#accordion section:not(.ac_hidden) h1 {
     border: 1px solid #003eff;
    background: #007fff;
}

#accordion section:not(.ac_hidden) .pointer {
  display:block;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  padding:0;
}